.contacts{
	
	position: fixed;
	
	top:56%; 
	
}
.steam{
	
	left:74.5%;
	
}
.discord{
	
	left:63%;
	
}
.facebook{
	
	left:17%;
	
}
.youtube{
	
	left:28.5%;
	
}
.instagram{
	
	left:40%;
	
}
.vk{
	
	left:51.5%;
	
}
